/* 
Layout taken from http://css.maxdesign.com.au/floatutorial/tutorial0816.htm, with some changes.
*/
#container {
	width: 90%;
	margin: 10px auto;
	color: #333;
 	border: none;
	line-height: 90%;
	height: 200px;
	border-bottom:none;
	border-left: none;
	border-right: none;
}

#top {
	padding: .5em; 
	border-bottom: 1px solid gray;
	border-bottom: 1px solid gray;
}

#top h1 {
	padding: 0;
	margin: 0;
	 
}

#flag {
	width: 70%;
	text-align: right;
}

#content {
	float: inherit;
	background-color: red;
	padding-top: 0em;
	padding-left: 0em;
	height: 100%;
	padding-top: 0em;
}

#footer {
	clear: both;
	margin: 0; //
	padding: .5em;
}

#leftnav p {
	margin: 0 0 1em 0;
	 
}

#content h2 {
	margin: 0 0 .5em 0;
}

.greenlink {
	background: url(icon-go-green.jpg) no-repeat;
	height: 16px;
	width: 16px;
}

.notificationBar {
	filter: alpha(opacity =     100);
	opacity: .8;
	padding: 50px 0 0 0;
	text-align: center;
	font-size: large;
}